.add-appointment .card-body {
  display:none;

}

.apt-addheading {
  cursor: pointer;
  user-select: none;
}

.appointment-list {
  font-size: 1.1em;
}

.appointment-list .kid-item {
  border-bottom: 1px dotted gray;
}

.appointment-list .kid-item:last-child {
  border-bottom: none;
}

.appointment-list .kid-name {
  font-weight: 600;
  color: 	#DC143C;
  font-size: 1.3em;
  line-height: 100%;
}

.appointment-list .label-item {
  font-weight: 600;
  color: #667b82;
}

.appointment-list .apt-date {
  font-style: italic;

}

.appointment-list .apt-notes {
  line-height: 120%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #808080;
}
